.creationPane{
    -fx-background-color: rgb(192, 192, 192);
    -fx-background-image: url('../assets/img/creation-pane-1440-900.png');
    -fx-background-size: 100% 100%;
}
.gameScene{
    -fx-background-color: rgb(192, 192, 192);
    -fx-background-image: url('../assets/img/game-pane-background-1440-900.png');
    -fx-background-size: 100% 100%;
}
.mainMenuScene{
    -fx-background-color: rgb(192, 192, 192);
    -fx-background-image: url('../assets/img/menu-pane-1440-810.png');
    -fx-background-size: 100% 100%;
}
.title{
    -fx-font-size:40px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}
